In [ ]:
import re

In [ ]:
pattern='\+\d{1,3}\(0\)7[7-9]\d{7}$'
text='+962(0)791234567 +962(0)791234567'
prog = re.compile(pattern)
result = prog.match(text)
print(result)
print(result is not None)

<re.Match object; span=(0, 16), match='+962(0)791234567'>
True

In [ ]:
pattern='\+\d{1,3}\(0\)7[7-9]\d{7}'
text='this is my first no. +962(0)791234567 and this is my second no. +962(0)797654321'
result = re.search(pattern, text)
allmatches= re.findall(pattern, text)
print(result)
for mat in allmatches:
  print(mat)

None

In [ ]:
pattern='\+\d{1,3}\(0\)\d{9}'
text='hello +962(0)791111111 +962(0)784444444 this is my number +962(0)7912345678'
result = re.findall(pattern, text)
print(result[0])

res2=re.search(pattern, text)
print('Here is the second results', res2[0])

+962(0)791111111
Here is the second results +962(0)791111111

In [ ]:
txt = "The rain in Spain"
pattern="^The.*Spain$"
x = re.search(pattern, txt)
x[0]

'The rain in Spain'

In [ ]:
txt = "The rain in Spain"
pattern="^The.*Spain$"
x = re.findall(pattern, txt)
x[0]

'The rain in Spain'

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
text='they lay back on the San Francisco grass and looked at the stars and their'
tokens= word_tokenize(text)
tokens

['they',
 'lay',
 'back',
 'on',
 'the',
 'San',
 'Francisco',
 'grass',
 'and',
 'looked',
 'at',
 'the',
 'stars',
 'and',
 'their']